body
{
    background: #A0A0A0;
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
}

p
{
    margin: 0px;
    padding: 0px;
}

.colorbutton
{
    font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
    font-size: 18px;
    border: 1px solid black;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttondiv
{
    text-align: center;
}

.outer_frame
{
    border-radius: 5px;
    /*border: 1px solid black;*/
    padding: 5px;
    width: 260px;
    margin: 0 auto;
    margin-top: 20px;
    background: #909090;
    text-align: center;
}

.header
{
    font-size: 24px;
    text-align: center;
    color: white;
}

.ntp_input
{
    border: 0px;
    width: 200px;
    text-align: center;
}
